
*{
  padding: 0;
  margin: 0;
}
html, body{
  padding: 0;
  margin: 0;
   
}
.loginbottom{
  visibility: hidden;
}
.main .main-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
}
.main .left .items-wrapper .item .label{
color: white;
font-size: 10px;


}

.main .left , .main .right {
   width:  50%;
}

.main .left{
 background: url(../image/twitterblue.PNG);
  background-size: 1350px 1000px;

  background-repeat: no-repeat;
  background-color: blue ;
  opacity: 2.0;


}
.main .left .items-wrapper {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  
  flex: row;
}

.main .left .items-wrapper .item{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

}

.icon{
  background: transparent;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  font-style: normal;
  margin-right: 15px;
  margin-left: 90px;
  color: white;
   font-size: 25px;
 font-weight: bold;
}
#label{
  font-size: 25px;
  margin-left: 10px;
  padding-top: 10px;
}

.main .top{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 25px
}
.main .middle {
 max-width: 300px;
 bottom: 1000px;
 margin: auto;
 padding-top: 120px;

}

.main .middle .icon-bird{
 font-size: 45px;
 margin-bottom: 8px;
}
.main .middle .btn-signin{
 display: block;
 margin-bottom: 15px;
 background-color: #1da1f2;
 color:#fff;
 border-radius: 100px;
 padding: 6px 16px;
 text-align: center;
 margin-top: 15px; 
 font-size: 22px;
 text-decoration: none; font-weight: bold;
}

.main .middle .btn-login{
 display: block;
 width: auto;
 text-align: center;
 font-size: 22px;
 text-decoration: none;
 font-weight: bold;
}


input[type="text"]{
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding: 12px;
  display: block;
}
.forgot-password{
  color: #aab8c2;
  font-size: 14px;
}
.input-group{
  margin-right: 12px;
}

.btn-signi{
  background-color: #1da1f2;
  border: 1px solid #1da1f2; 
  color: white;
  border-radius: 100px;
  padding:6px 16px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  width: auto;
  height: 44px;
  width: 70px;
  font-weight: bold;
}
.btn-login{
  background-color: #fff;
  border: 1px solid #1da1f2; 
  color: #1da1f2;
  border-radius: 100px;
  padding:6px 16px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  width: auto;
  height: 44px;
  width: 70px;
  font-weight: bold;
}
.btn-login:hover{
  background-color: #eaf5fd;
  color: #1da1f2;
}

.footer .col ul{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1px;
}
 .footer .col ul li{
    list-style: none;
    display: inline-flex;
}
 .footer .col ul li a{
    font-size: 14px;
    color: rgb(77, 77, 77);
    padding-left: 5px;
    text-decoration: none;
}


@media screen and (max-width: 845px){
  
    

.main .main-wrapper{
   display: flex;
   flex-flow: row wrap;
   text-align: center;

    flex-direction: row;
    position: fixed;
    
     
  height: 60vh;
 
}

.main .main-wrapper >*{
  padding:0px;
  margin:0px;
  flex:1  100%;
  width: 100%;
 
}
.main .middle {
 margin: auto;
 padding-top: 0px;

}
.main .left .items-wrapper .item .label{
 font-size: 46px;
 font-weight: bold;
}

.main .left:nth-child(1){
 order: 2;
 
}
.main .left{

 
  background-size: 700px 300px;

  background-repeat: no-repeat;
  background-color: blue ;
  opacity: 2.0;
  padding-bottom: 90px;

  height:   24.18%;
}
 .main .right:nth-child(1) {
   order: 1;
   
}
.main .right {
   order: 1;
   
   height: 55vh;
}
.main .main-wrapper .middle {
 
 height: 100px;
 

}

.footer{
  bottom: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 100px;
  
  
}
.main .middle .icon-bird{
 margin-left: -20px;

 float: left;

}



.main .middle .icon-bird{
 font-size: 45px;
 margin-bottom: 6px;
}
.footer nav ul {
  display: flex;
  padding: 10px;
  align-items: center;

}
.main .left .items-wrapper {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}


.main .left .items-wrapper .item{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  margin-right: auto;
  margin-left: auto;
 
  font-weight: bold;
  font-size: 45px;
}
.main .left .items-wrapper .item {
 margin: 0;
 padding-bottom: 30px;
 margin-left: 60px;
 top: 90px;

}
.fas{
  background: transparent;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  font-style: normal;
  margin-right: 1px;
  color: white;
  font-size: 20px;

}

.loginbottom{
  visibility: visible;
  position: relative;
  top: 635px;
  position: absolute;
   z-index: 1;
   margin-left: 160px;
 }

}

@media screen and (max-width: 414px){
      .main .left{

 
  background-size: 500px 200px;

  background-repeat: no-repeat;
  background-color: blue ;
  opacity: 2.0;
  padding-bottom: 50px;

  height:   24.18%;
}


.main .left .items-wrapper .icon{
 font-size: 5px;
 font-weight: bold;

}
.fas{
  background: transparent;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  font-style: normal;
 
  font-size: 15px;
 color: white;
 
}
.main .left .items-wrapper .item{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin: 0;
  
}


.main .left .items-wrapper .item .label{
color: white;
font-size: 15px;


}
#label{
  font-size: 12px;

}
.main .middle .icon-bird{
 font-size: 35px;
 margin-bottom: 6px;
 margin-left: 12px;
}
.loginbottom{
  visibility: visible;
  position: relative;
  top: 600px;
  position: absolute;
   z-index: 1;
   margin-left: 120px;
 }
 .main .middle .icon-bird{
 font-size: 45px;
 margin-bottom: 6px;
 float: left;
}
.col{
  bottom: 0;
  position: absolute;
}
.footer .col ul{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1px;
}
 .footer .col ul li{
    list-style: none;
    display: inline-flex;
}
 .footer .col ul li a{
    font-size: 14px;
    color: rgb(77, 77, 77);
    padding-left: 5px;
    text-decoration: none;
}
    }

    @media screen and (max-width: 375px){
      
.loginbottom{
  visibility: visible;
  position: relative;
  top: 550px;
  position: absolute;
   z-index: 1;
   margin-left: 120px;
 }


    
   #bird{
    margin-left: 23px;
   }

 #h{
  font-size: 20px;
  padding-top: 20px;
 }
.col{
  bottom: 0;
  position: absolute;
}
.footer .col ul{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1px;
}
 .footer .col ul li{
    list-style: none;
    display: inline-flex;
}
 .footer .col ul li a{
    font-size: 14px;
    color: rgb(77, 77, 77);
    padding-left: 5px;
    text-decoration: none;
}
    }

  